@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(../images/clouds.jpg);
    Font-family: 'Gowun Dodum', sans-serif;
}
.container { /*전체 컨테이너*/
    width: 100%;
    height: 100%; 
    z-index: 55;
}
.container .header { /*헤드 전체*/
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid black;
}
.container .header h1 a { /*헤드바*/
    text-decoration: none;
    color: black;
    font-family: abster;
}
.container .nav ul li {   /*헤드 네브 바*/
    display: inline-block;
    margin: 0 10px;

}
.container .nav ul li a { /*login logout버튼 */
    text-decoration: none;
    color: black;
}
.container .nav ul li a:hover{ /*메뉴바 호버기능주면  login 회원가입 파란색으로 바뀜*/
    color: #1fdfdf;
}



.rectangle { /*마름모*/
    height: 420px;
    width: 420px;
    opacity: 1;
    position: relative;
    transform: rotate(-45deg); 
    margin-top: 130px;
    margin-right: 150px;
	float: right;
   
}
.minibox { /*마름모안에 작은 네모*/
    height: 280px;
    width:  280px;
    position: absolute;
    left: 70px;
    top: 70px;
}
.small1 {  /*시작*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffdab9;
}	
.small1-1 {
    font-size: 130%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 15px;
    
}
.small2 { /*해인*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #f08080;
    padding: 0;
    margin: 0;
}
.small2-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small3 { /*승환*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 140px; 
    background-color: #f4978e;
}
.small3-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small4 { /*재연*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 210px;
    background-color: #f8ad9d;
}
.small4-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
} 
.small5 { /*찬규*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 280px;
    background-color: #fbc4ab; 
}
.small5-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small6 { /*아시아*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0 ;
    background-color: #90e0ef; 
}
.small6-1 {
    font-size: 125%;
    transform: rotate(-315deg);
    margin-top: 25px;
    margin-left: 7px;
}
.small7 { /*한국*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 70px;
    top: 0 ;
    background-color: #48cae4; 
}
.small7-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small8 { /*일본*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 140px;
    top: 0 ;
    background-color: #00b4d8;
}
.small8-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small9 { /*중국*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 210px;
    top: 0 ;
    background-color: #0096c7;
}
.small9-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small10 { /*대만*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 280px;
    top: 0 ;
    background-color: #0077b6;
}
.small10-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small11 { /*유럽*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0 ;
    background-color: #ffdd00;
}
.small11-1 {
    font-size: 130%;
    transform: rotate(-315deg);
    margin-top: 26px;
    margin-left: 15px;
}
.small12 { /*미대륙*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #b7e4c7;
}
.small12-1 {
    font-size: 125%;
    transform: rotate(-315deg);
    margin-top: 24px;
    margin-left: 8px;
}
.small13 { /*스페인*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 70px;
    background-color: #ff7b00;
}
.small13-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 7px;
}
.small14 { /*독일*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 140px;
    background-color: #ff9500;
}
.small14-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
.small15 { /*프랑스*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 210px;
    background-color: #ffaa00;
}
.small15-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 7px;
}
.small16 { /*영국*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom:280px;
    background-color: #ffc300; 
}
.small16-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 12px;
} 
.small17 { /*괌*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 70px;
    bottom: 0;
    background-color: #40916c; 
}
.small17-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 32px;
    margin-left: 24px;
}
.small18 { /*캐나다*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 140px;
    bottom: 0;
    background-color: #52b788; 
}
.small18-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 26px;
    margin-left: 8px;
}
.small19 { /*엘에이*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 210px;
    bottom: 0;
    background-color: #74c69d; 
}
.small19-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 30px;
    margin-left: 23px;
}
.small20 { /*뉴욕크*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 280px;
    bottom: 0;
    background-color: #95d5b2; 
}
.small20-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 29px;
    margin-left: 15px;
}
a {
    text-decoration-line: none;
    font-size: 135%;
}
.font {
	font-size: 18px;
	cursor: pointer;
}
.photo {
    position:absolute;
    left:100px;
    top:210px;
    z-index:1;
    display:none;
}