@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    
}

.container { /*전체 컨테이너*/
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(images/clouds.jpg);
    z-index: 55;
}
.container .header { /*헤드 전체*/
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* border-bottom: 1px solid black; */
}
.container .header h1 a { /*헤드바*/
    text-decoration: none;
    color: black;
    font-family: abster;
}
.container .nav ul li {   /*헤드 네브 바*/
    display: inline-block;
    margin: 0 10px;

}
.container .nav ul li a { /*login logout버튼 */
    text-decoration: none;
    color: black;
}
.container .nav ul li a:hover{ /*메뉴바 호버기능주면  login 회원가입 파란색으로 바뀜*/
    color: #1fdfdf;
}



.rectangle { /*마름모*/
    height: 420px;
    width: 420px;
    background-color: blueviolet;
    position: relative;
    transform: rotate(-45deg); 
   /* display: inline-block; */
   margin-top: 100px;
   margin-right: 150px;
   float: right;
   
}
.minibox { /*마름모안에 작은 네모*/
    height: 280px;
    width:  280px;
    position: absolute;
    left: 70px;
    top: 70px;
    background-color:maroon;
}
.small1 {  /*시작*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: yellow;
}
.small1-1 {
    font-size: 130%;
    transform: rotate(-315deg);
    margin-top: 14px;
    margin-left: 9px;
    
}
.small2 { /*해인*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: green;
    padding: 0;
    margin: 0;
}
.small2-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 13px;
}
.small3 { /*승환*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 140px; 
    background-color: blue;
}
.small3-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 13px;
}
.small4 { /*재연*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 210px;
    background-color: red;
}
.small4-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 13px;
} 
.small5 { /*찬규*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 280px;
    background-color:orange; 
}
.small5-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 13px;
}
.small6 { /*아시아*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0 ;
    background-color:pink; 
}
.small6-1 {
    font-size: 125%;
    transform: rotate(-315deg);
    margin-top: 20px;
    margin-left: 5px;
}
.small7 { /*한국*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 70px;
    top: 0 ;
    background-color:aqua; 
}
.small7-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 24px;
    margin-left: 14px;
}
.small8 { /*일본*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 140px;
    top: 0 ;
    background-color :yellowgreen;
}
.small8-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 24px;
    margin-left: 14px;
}
.small9 { /*중국*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 210px;
    top: 0 ;
    background-color :tomato;
}
.small9-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 24px;
    margin-left: 14px;
}
.small10 { /*대만*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 280px;
    top: 0 ;
    background-color :black;
}
.small10-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 24px;
    margin-left: 14px;
}
.small11 { /*유럽*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0 ;
    background-color :steelblue;
}
.small11-1 {
    font-size: 130%;
    transform: rotate(-315deg);
    margin-top: 26px;
    margin-left: 15px;
}
.small12 { /*미대륙*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color :palegoldenrod;
}
.small12-1 {
    font-size: 125%;
    transform: rotate(-315deg);
    margin-top: 20px;
    margin-left: 5px;
}
.small13 { /*스페인*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 70px;
    background-color :yellow;
}
.small13-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 20px;
    margin-left: 3px;
}
.small14 { /*독일*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 140px;
    background-color :pink;
}
.small14-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 13px;
}
.small15 { /*프랑스*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 210px;
    background-color:violet;
}
.small15-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 20px;
    margin-left: 3px;
}
.small16 { /*영국*/
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom:280px;
    background-color :slategrey ; 
}
.small16-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 12px;
} 
.small17 { /*괌*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 70px;
    bottom: 0;
    background-color :peru ; 
}
.small17-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 27px;
    margin-left: 22px;
}
.small18 { /*캐나다*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 140px;
    bottom: 0;
    background-color :seagreen; 
}
.small18-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 20px;
    margin-left: 3px;
}
.small19 { /*엘에이*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 210px;
    bottom: 0;
    background-color :purple; 
}
.small19-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 25px;
    margin-left: 25px;
}
.small20 { /*뉴욕크*/
    width: 70px;
    height: 70px;
    position: absolute;
    left: 280px;
    bottom: 0;
    background-color :navy; 
}
.small20-1 {
    font-size: 100%;
    transform: rotate(-315deg);
    margin-top: 23px;
    margin-left: 15px;
}
a {
    text-decoration-line: none;
    font-size: 135%;
}
.photo {
    position:absolute;
     left:100px;
      top:100px;
       z-index:1;
       display:none;
}