@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
   
}
.container {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/clouds.jpg);
}
.container .header {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid black;
}
.container .header h1 a {
    text-decoration: none;
    color: black;
    font-family: abster;
}
.container .nav ul li {
    display: inline-block;
    margin: 0 10px;

}
.container .nav ul li a {
    text-decoration: none;
    color: black;
}
.container .nav ul li a:hover{
    color: #1fdfdf;
}

.container .modoomable {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .modoomable h2{
    font-size: 60px;
    margin-bottom: 20px;

}
.container .modoomable p{
    font-size: 22px;
}


.mainwrap {
    margin-top: 70px;
}
.mainwrap div {
    width: 800px;
    height: 600px;
    background-color: black;
    -wedkit-clip-path :polygon(50%0%,100%50%,50%100%,0%50%);
    clip-path: polygon(50%0%,100%50%,50%100%,0%50%);
}

#hi {
    position: absolute; 
    z-index: 3;
    left: 600px;
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: red;
}